<html>
<head>
    <meta property="og:image" content="http://cukwiki.net/~uyu423/preparing.png" />
    <meta property="og:url" content="http://fanholic.net" />
    <meta property="og:description" content="가톨릭대학교 컴퓨터정보공학부 전공 학회 F.A.N의 공식 홈페이지 입니다." />
    <meta name="description" content="가톨릭대학교 컴퓨터정보공학부 전공 학회 F.A.N의 공식 홈페이지 입니다." />
    <meta name="title" content="F.A.N Official Website" />
    <title>Preparing F.A.N Official Website</title>
    <title>{{ Title }}</title>

    <script   src="/assets/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" >
    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css" >
    <!-- Latest compiled and minified JavaScript -->
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js" ></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/public/css/header.css" type="text/css">
    <link rel="stylesheet" href="/public/css/main.css" type="text/css">
    </head>
<body>
{{> header}}
{{{ body }}}
{{> footer}}
</body>
</html>
