<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../../public/css/board.css" />
</head>

<body>

    <div class="col-sm-8">

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">공지사항</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">자료실</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">자유게시판</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">질문게시판</button>
            </div>
        </div>

        <br />
        <button type="button" class="btn btn-default" onclick="location.href='board_list.html'">목록</button>
        <br />

        <hr />
        나는야 천재 &nbsp; <code>김선욱</code> &nbsp;
        <div class="glyphicon glyphicon-thumbs-up" aria-hidden="true">추천10</div>
        <br /><br />
        <div class="well well-lg">
            <p>2016.06.28</p>
            <div class="file">
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </button>
            </div>
            <p>나 천재임 다 물어봐</p>
        </div>
        <hr />
        <code>김소연</code> &nbsp; 2016.6.29
        <br />
        뉘에뉘에
        <div class="commentedit">
            <button type="button" class="btn btn-default btn-xs">EDIT</button>
            <button type="button" class="btn btn-default btn-xs">DELETE</button>
        </div>
        <hr />
        <code>이소정</code> &nbsp; 2016.6.29
        <p>오빠가 먼데여?</p>
        <hr />
        <code>김수연</code> &nbsp; 2016.6.29
        <p>내가 알아서 해</p>
        <hr />
        <code>오선식</code> &nbsp; 2016.6.29
        <p>네ㅎㅎ</p>
        <hr />
        <code>유용우</code> &nbsp; 2016.6.29
        <p>This comment is secret</p>
        <hr />
        <code>이종원</code> &nbsp; 2016.6.29
        <p>예형!!!!!!!!!</p>
        <hr />
        <code>노현호</code> &nbsp; 2016.6.29
        <p>농활 재밌습니다..</p>
        <hr />
        <div class="row">
            <div class="col-md-11">
                <textarea class="form-control" rows="3">댓글입력</textarea>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                secret comment
            </label>
        </div>
        <span class="form-group">
            <label for="exampleInputFile"></label>
            <input type="file" id="exampleInputFile" />
        </span>

    </div>

</body>
</html>
