<!DOCTYPE html>
<html>
<head>
    <meta property="og:image" content="http://cukwiki.net/~uyu423/preparing.png" />
    <meta property="og:url" content="http://fanholic.net" />
    <meta property="og:description" content="가톨릭대학교 컴퓨터정보공학부 전공 학회 F.A.N의 공식 홈페이지 입니다." />
    <meta name="description" content="가톨릭대학교 컴퓨터정보공학부 전공 학회 F.A.N의 공식 홈페이지 입니다." />
    <meta name="title" content="F.A.N Official Website" />
    <title>Preparing F.A.N Official Website</title>

    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    <link rel="stylesheet/less" href="/public/css/header.css">
</head>
<body>
<div class="container-fluid" id="header">
    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">F.A.N</a>
        </div>

        <div class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">F.A.N</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Board<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Notice</a></li>
                            <li><a href="#">Question</a></li>
                            <li><a href="#">Free Board</a></li>
                            <li><a href="#">Library</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Study <span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level">
                            <li>
                                <a href="#">C</a>
                                <ul>
                                    <li><a href="#">1조</a></li>
                                    <li><a href="#">2조</a></li>
                                    <li><a href="#">3조</a></li>
                                    <li><a href="#">4조</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">C++</a>
                                <ul>
                                    <li><a href="#">1조</a></li>
                                    <li><a href="#">2조</a></li>
                                    <li><a href="#">3조</a></li>
                                    <li><a href="#">4조</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Web</a>
                                <ul>
                                    <li><a href="#">1조</a></li>
                                    <li><a href="#">2조</a></li>
                                    <li><a href="#">3조</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Java</a>
                                <ul>
                                    <li><a href="#">1조</a></li>
                                    <li><a href="#">2조</a></li>
                                    <li><a href="#">3조</a></li>
                                    <li><a href="#">4조</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">자료구조</a>
                                <ul>
                                    <li><a href="#">1조</a></li>
                                    <li><a href="#">2조</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Gallery</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>My Info</a>
                        <div class="dropdown-menu">

                        </div>
                    </li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>

