<div class = "col-center col-sm-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><span id = "title_kr">정보<span> <span id = "title_en">My Info</span></div>
  		</div>
  	<div class="panel-body">			
		<div id = "info_form" class= "cl">
			<div id = "left_view">
				<div id = "profile_pic">
					<img src="http://placehold.it/250x250"/><br>
				</div>
				<div id = "user_level" class="alert alert-info" role="alert">회원등급</div>
			</div>
			<div id = "right_view">
				<ul class="list-group">
				    <li class="list-group-item">이름 : ㅇㅁㅇ</li>
				    <li class="list-group-item">전공 : 컴공</li>
				    <li class="list-group-item">학번 : 123456789</li>
				    <li class="list-group-item">상태 : 휴학</li>
				    <li class="list-group-item"><a href="#"> 소속스터디 : C언어 </a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id = "buttons">
	<button type="button" class="btn btn-info btn-lg">정보수정</button> <button type="button" class="btn btn-info btn-lg">Logout</button>
</div>