<div class="container-fluid" id="main">
    <div class="row">
        <!-- page1 -->
        <div class="main_official parallax text-center">
            <div class="col-sm-12 text-center mainText">
                <p class="mainTitle">F.A.N</p>
                <a class="btn mainbtn" href="#freemeeting">ABOUT US</a>
            </div>
        </div>

        <!--Free Meeting : 팬 기본정보 -->
        <div class="freemeeting" id="freemeeting">
            <div class="fmtext" >
                <span class="f">F</span><span class="reemeeting">ree Meeting</span>
            </div>

            <div class="col-sm-10 fmcontent col_center text-center ">
                <div class="col-sm-3 history ">
                    <img src="/public/img/main_fm/history.png"/>
                </div>
                <div class="col-sm-3 study">
                    <img src="/public/img/main_fm/computer.png"/>
                </div>
                <div class="col-sm-3 activity">
                    <img src="/public/img/main_fm/activity.png"/>
                </div>
            </div>
        </div>

        <!-- Active Studying : 갤러리  -->
        <div class="activestudying" id="activestudying">
            <div class="astext" >
                <span class="a">A</span><span class="ctivestudying">tive Studying</span>
            </div>
        </div>

        <!-- Nice Ending : 임원진 소개, 주소 -->
        <div class="niceending" id="niceending">
            <div class="netext" >
                <span class="n">N</span><span class="iceending">ice Ending</span>
            </div>
        </div>
    </div>
</div>